html {
  font-size: 62.5%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #343a40;
  line-height: 1;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
  overflow: hidden;
  height: 100vh;
  display: grid;
  grid-template-columns: 8rem 15% 1fr 20%;
  grid-template-rows: 8rem 1fr;
}

main {
  padding-top: 2.4rem;
}

nav {
  background-color: #343a40;
  color: #fff;
  grid-row: 1/-1;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-navigation[name="car-outline"] {
  display: block;
}
.icon-mobile-navigation[name="close-outline"] {
  display: none;
}
.menu {
  background-color: #0e325d;
  color: #fff;
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.menu-form {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.8rem;
}
.menu-form-element {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
}
.menu-form-element input {
  width: 100%;
  transition: all 0.2s;
  background-color: #0e325d;
  padding: 0.4rem;
  color: #fff;
  font-weight: 700;
}

.menu-form-element input:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px #ffd60a;
}
.menu-form ion-icon {
  color: #ffd60a;
  font-size: 2.6rem;
}
.menu-form a:link,
.menu-form a:visited {
  text-decoration: none;
  color: #fff;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: none;
}
.car-checks {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: none;
}
main {
  padding: 1.2rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

section {
  background-color: #484e53;
}
section span {
  color: #ffd60a;
}
aside {
  background-color: #e9ecef;
}

.sub-heading {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1;
  --ionicon-stroke-width: 40px;
}

.strong {
  font-weight: 700;
}

.exit ion-icon:hover,
.exit ion-icon:active {
  color: #fff;
}

.unclick {
  pointer-events: none;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.error-box {
  background-color: #e9ecef;
}
