@media (max-width: 59em) {
  html {
    font-size: 65%;
  }
  body {
    grid-template-columns: 8rem 15% 1fr;
  }
  .btn-mobile-nav {
    position: absolute;
    box-shadow: inset 0 0 0 1px #ffd60a;
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    z-index: 999;
  }
  .btn-mobile-nav ion-icon {
    font-size: 4rem;
    color: #ffd60a;
  }
  .mobile {
    background-color: rgba(14, 50, 93, 0.6);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    transform: translateX(100%);
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    z-index: 998;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open {
    background-color: #e6e7e9;
  }
  .nav-open .mobile {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    font-size: 2.4rem;
  }
  .nav-open .icon-mobile-navigation[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-navigation[name="car-outline"] {
    display: none;
  }

  .sub-heading {
    font-size: 1.6rem;
  }
  .btn-mobile-aside {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .open-aside aside {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  aside {
    box-shadow: inset 0 0 0 2px #0e325d;
    border-radius: 3px;
    position: absolute;
    height: 50vh;
    top: 15%;
    left: 0;
    transform: translateX(-300%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s;
    padding: 1.6rem;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 55%;
  }
  .sub-heading {
    font-size: 1.2rem;
  }
}
@media (max-width: 34em) {
  .btn-mobile-not {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body {
    grid-template-columns: 5rem 1fr;
  }
  section {
    border-radius: 3px;
    position: absolute;
    top: 15%;
    left: 0;
    transform: translateX(-300%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s;
    padding: 1.6rem;
  }

  .open-section section {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
}
