.service-heading {
  font-size: 2.6rem;
}

.add-service-form {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  gap: 2rem;
  font-size: 2.4rem;
}

.service-form-element {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.service-form-element ion-icon {
  font-size: 3rem;
}

.service-form-element input[type="submit"] {
  margin-top: 2.2rem;
  padding: 0.8rem 1.2rem;
  background-color: #f3ba69;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.service-form-element input[type="submit"]:hover,
.service-form-element input[type="submit"] :active {
  background-color: #92703f;
  color: #fff;
}
.add-service-form input,
.add-service-form select {
  width: 100%;
  resize: none;
  outline: none;
  border: 2px solid #0e325d;
  font-size: 2rem;
  padding: 0.4rem;
  border-radius: 3px;
}
.service-form-element textarea {
  width: 100%;
  height: 30%;
}

.add-service-form textarea {
  resize: none;
  outline: none;
  border: 2px solid #0e325d;
  border-radius: 3px;
  font-size: 1.6rem;
}

.service-delete {
  display: flex;
  align-items: center;
  background-color: #c1121f;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  transition: all 0.2s;
}

.service-delete ion-icon {
  font-size: 2.5rem;
  color: #fff;
}
.service-delete:hover,
.service-delete:active {
  background-color: #9a0e19;
}
