.service {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
  display: grid;
  column-gap: 2.4rem;
  row-gap: 3.2rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s;
}
.service {
  grid-template-columns: auto 1fr auto;
}
.service:hover,
.service:active {
  box-shadow: inset 0 0 0 2px #023e8a;
}

.service-icon {
  width: 3rem;
}
.service-text {
  display: flex;
  gap: 1.8rem;
  justify-self: center;
  font-size: 2rem;
}

.link {
  background-image: url("/client/templetes/img/icons/add-outline.svg");
  background-size: 3.5rem;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1.2rem 2.2rem;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}
.link:hover,
.link:active {
  box-shadow: inset 0 0 0 3px #0e325d;
}

.hidden-box {
  grid-column: 2;
  display: none;
}

.hidden-box ul {
  list-style: none;
  color: #0e325d;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.hidden-box ul li {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto 1fr;
  gap: 1.2rem;
  padding: 0.8rem 1.2rem;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
}
.hidden-box ul li button {
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: all 0.2s;
}
.hidden-box ul li ion-icon {
  font-size: 2.4rem;
  padding: 0.4rem 0.8rem;
}
.hidden-box ul li button:hover,
.hidden-box ul li button:active {
  background-color: #023e8a;
  color: #fff;
}
.hidden-box ul li input {
  grid-column: 3;
  height: 100%;
  border-radius: 3px;
  font-size: 1.6rem;
  outline: none;
  transition: all 0.2s;
  padding: 0 1rem;
}
.hidden-box ul li input:focus {
  box-shadow: inset 0 0 0 2px #023e8a;
}
.open {
  border-top: 4px solid #023e8a;
}
.open .hidden-box {
  display: block;
  color: #023e8a;
}
.icon-service[name="arrow-down-outline"] {
  display: block;
}
.icon-service[name="close-outline"] {
  display: none;
}

.open .icon-service[name="close-outline"] {
  display: block;
}
.open .icon-service[name="arrow-down-outline"] {
  display: none;
}

.add-service-btn:link,
.add-service-btn:visited {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  text-decoration: none;
  color: #0e325d;
  font-weight: 700;
  padding: 1.2rem;
  font-size: 2.4rem;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.add-service-btn:hover,
.add-service-btn:active {
  background-color: #f3ba69;
  color: #fff;
}
